@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree');
body{
  //font-family: 'Athiti', sans-serif;
  //background-color: #c36a2d;
}
.scroll-content{
  font-family: 'Bai Jamjuree', sans-serif;
  background-color:  #20716a;
  color:whitesmoke;

}
.head{
  color:whitesmoke;
  background-color: #f09c67;
  padding: 20px 10px 30px 10px;
  font-weight: bold;

}
.formstyle{
  background-color: #fffde8;
  font-size: 16px
}
.item-md {
  background-color: #fffde8;
  border: 1px;
}
.item-ios{
  background-color: #fffde8;
  border: 1px;
}
.input-wrapper {

}
.card-header{
  background-color: #f09c67;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.type_person{
  font-size: 16px;
}
.col{
  font-size: 18px;

}
.detail1  {
  //width:50%;
 border: 1px ridge  #f7e0a3;
}
.detail1 .label  {
  background-color: #f1f0cf !important;
}

.col h2{
  font-size: 18px;
  background-color: #d6e4aa  ;
  font-weight: bold;
}
ion-label .label .label-md{
  background-color: #f1f0cf  ;
 }
.col h3{
  font-size: 16px;
 }
.item item-block item-ios{
  font-size: 18px;
}
button{
  background-color: #f09c67;
}
.button-ios-light {
  background-color: #f09c67;
  opacity: 1;
  color: antiquewhite;
  font-weight: bold;
}

.button-ios-light:hover {
  opacity: 0.9;
  color: black;
}

.button-md-light {
  background-color: #f09c67;
  opacity: 1;
  color: antiquewhite;
  font-weight: bold;
}

.button-md-light:hover {
  opacity: 0.9;
  color: black;
}
.button-md-light:hover:not(.disable-hover) {
  background-color:#f09c67;
}
.radio-md .radio-icon {
  border-color: #fa8e4b;
}
.radio-md .radio-checked{
  border-color: #fa8e4b;

}
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: #fa8e4b;
  box-shadow: inset 0 -1px 0 0 #fa8e4b;
}
a.poy {
  color: black;
  }
a.poy:hover {
color: black;
opacity : 1;
}




