<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title></ion-title>
    <ion-title><img src="assets/imgs/logo1.png" width="50" height="50">ตรวจสอบสถานะการขึ้นทะเบียนเกษตรกรชาวสวนยาง</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form novalidate #myForm="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>ประเภท</ion-label>
           <ionic-selectable
              item-content
              [(ngModel)]="type_person" name="type_person"
              [items]="ports_person"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
             >
            </ionic-selectable>
          </ion-item>
        <ion-item>
            <ion-label floating>โครงการ</ion-label>
           <ionic-selectable
              item-content
              [(ngModel)]="type_project" name="type_project"
              [items]="ports_project"
              itemValueField="id"
              itemTextField="name"
              [canSearch]="true"
              (onChange)="portChange($event)"
             >
            </ionic-selectable>
          </ion-item>
          <ion-item>
            <ion-input type="number" [(ngModel)]="idcard" name="idcard" placeholder="ระบุเลขบัตรประชาชน"><b class="data_inbox"></b></ion-input>
          </ion-item>
        </ion-col>
        <ion-col><button ion-button color="light" round navPop (click)="Chk(myForm.value)">ตรวจสอบข้อมูล</button>
        </ion-col>
      </ion-row>

    </ion-grid>
    <ion-grid *ngIf="item_data_land_rf?.length || item_data_land_rs?.length || item_data_tapper?.length">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>ชื่อ-นามสกุล:</ion-label>
            <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
          </ion-item>
        </ion-col>
        <!--<ion-col>
          <ion-item>
            <ion-label floating>เบอร์ติดต่อ:</ion-label>
            <ion-input type="text" [(ngModel)]="tel" name="tel"></ion-input>
          </ion-item>
        </ion-col>
         <ion-col>
          <ion-item>
            <ion-label floating>รหัสประจำบ้าน:</ion-label>
            <ion-input type="text" [(ngModel)]="addr_code" name="addr_code"></ion-input>
          </ion-item>
        </ion-col> -->
        <ion-col>
          <ion-item>
            <ion-label floating>สถานะเกษตรกร:</ion-label>
            <ion-input type="text" [(ngModel)]="reqtype" name="reqtype"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card *ngIf="item_data_land_rf?.length ">
      <ion-card-header>
        แปลง คบก.
      </ion-card-header>
      <ion-card-header class="index15">
        ** เป็นข้อมูล ณ วันที่ 14 มิถุนายน 2564
      </ion-card-header>
      <ion-list *ngFor="let c of item_data_land_rf ; let i = index " >
        <ion-item class="detail1">

          <ion-row>
            <ion-col>
              <h2>{{i+1}}. {{c.rf_ld_type}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3><b>ที่ตั้งสวน หมู่ที่ </b>{{c.rf_pl_mooh}} <b> ตำบล </b> {{c.rf_pl_ld_pl}} </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3><b>อำเภอ </b>{{c.rf_pl_ld_ds}}  <b>จังหวัด </b>{{c.rf_pl_ld_pr}}   </h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
            <h3><b>ปีปลูก :</b> {{c.rf_pl_yr}} <b> อายุ :</b> {{c.rf_plant_year}}  <b> เนื้อที่ : </b> {{c.rf_rai}}-{{c.rf_ngan}}-{{c.rf_waa}} ไร่</h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h3><b>สถานะการเปิดกรีด :</b> {{c.rf_typerubcnt}} </h3>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <h3> <b>รูปแบบการจำหน่ายผลผลิตยาง  :</b> {{c.rf_typerub | typerub}}</h3>
              </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h3><b>แรงงาน :</b> {{c.rf_typehrvemp | typehrvempPipe}}</h3>
            </ion-col>
          </ion-row>

          <ion-row >
            <ion-col *ngFor="let cc of item_data_land_rf[i]['rf_rs_emp']">
              <h3><b>คนกรีด :</b> {{cc.rf_seq}}. {{cc.rf_emp_regis}}{{cc.rf_emp_idc}}
                {{cc.rf_emp_name}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col >
              <!-- <h3 [ngClass]="c.rf_flg==='0'|| c.rf_flg ==='3'?'flgtrue':'flgerr'"><b>คุณสมบัติ :</b> {{c.rf_typeflg}}</h3> -->
              <h3 [ngClass]="rf_flg.indexOf(c.rf_flg)> -1?'flgtrue':'flgerr'"><b>คุณสมบัติ :</b> {{c.rf_typeflg}} </h3>
            </ion-col>
          </ion-row>
          <!-- <ion-row *ngIf="c.rf_flg !=='0' && c.rf_flg !=='3' "> -->
         <!--  <ion-row [ngClass]="rf_flg1.indexOf(c.rf_flg) === -1" >  -->
             <!--  *ngIf="rf_flg1.indexOf(c.rf_flg) === -1 " -->
            <ion-row  *ngIf="isFound(c.rf_flg)" >
            <ion-col >
              <h3 class="flgerr"><b>สาเหตุ : </b>{{c.rf_flg_cause}}</h3>
            </ion-col>
          </ion-row>
          <ion-row  *ngIf="c.rf_emp_regis_land ==='1'" >
            <ion-col >
              <small class="flgerr"><b>** คนกรีดยังไม่ได้ขึ้นทะเบียนคนกรีดกับ กยท.</b></small>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="item_data_tapper?.length ">
      <ion-card-header>
        คนกรีด แปลง คบก.
      </ion-card-header>
      <ion-card-header class="index15">
        ** เป็นข้อมูล ณ วันที่ 14 มิถุนายน 2564
      </ion-card-header>
      <ion-list *ngFor="let c of item_data_tapper ; let i = index ">
        <ion-item class="detail1">
          <ion-row>
            <ion-col>
              <h2>{{i+1}}. {{c.rs_ld_type}}</h2>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h3><b>ที่ตั้งสวน หมู่ที่ </b>{{c.rs_pl_mooh}} <b> ตำบล </b> {{c.rs_pl_ld_pl}} </h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h3><b>อำเภอ </b>{{c.rs_pl_ld_ds}}  <b>จังหวัด </b>{{c.rs_pl_ld_pr}}   </h3>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col>
              <h3><b>ปีปลูก :</b> {{c.rs_pl_yr}} <b> อายุ :</b> {{c.rs_plant_year}}<b> เนื้อที่ : </b>{{c.rs_rai}}-{{c.rs_ngan}}-{{c.rs_waa}} ไร่</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <h3><b>สถานะการเปิดกรีด :</b> {{c.rs_typerubcnt}}</h3>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h3><b>รูปแบบการจำหน่ายผลผลิตยาง :</b>  {{c.rs_typerub | typerub}}</h3>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col>
                <h3><b>กรีดให้  : </b>  {{c.pr_idc}} {{c.pr_name}}</h3>
              </ion-col>
            </ion-row>
            <ion-row >
              <ion-col>
                <h3><b>ลำดับการกรีด: </b>  {{c.seq}}</h3>
              </ion-col>
            </ion-row>
          <ion-row >
              <ion-col>
                <h3  [ngClass]="rf_flg.indexOf(c.rs_flg)> -1?'flgtrue':'flgerr'"><b>คุณสมบัติ :</b> {{c.rs_typeflg}}</h3>
              </ion-col>
            </ion-row>
            <ion-row  *ngIf="isFound(c.rs_flg)" ><!--  *ngIf="rf_flg.indexOf(c.rs_flg) === -1" -->
              <ion-col >
                <h3 class="flgerr"><b>สาเหตุ :</b> {{c.rs_flg_cause}}</h3>
              </ion-col>
            </ion-row>

        </ion-item>
      </ion-list>
    </ion-card>

    <ion-card *ngIf="item_data_land_rs?.length ">
        <ion-card-header>
          แปลง ขกม.
        </ion-card-header>
        <ion-card-header class="index15">
          ** เป็นข้อมูล ณ วันที่ 14 มิถุนายน 2564
        </ion-card-header>
        <ion-list *ngFor="let c of item_data_land_rs ; let i = index ">
          <ion-item class="detail1">
            <ion-row>
              <ion-col>
                <h2>{{i+1}}. {{c.rs_ld_type}}</h2>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h3><b>ที่ตั้งสวน หมู่ที่ </b>{{c.rs_pl_mooh}} <b> ตำบล </b> {{c.rs_pl_ld_pl}} </h3>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <h3><b>อำเภอ </b>{{c.rs_pl_ld_ds}}  <b>จังหวัด </b>{{c.rs_pl_ld_pr}}   </h3>
                </ion-col>
              </ion-row>
            <ion-row>
              <ion-col>
                <h3><b>ปีปลูก :</b> {{c.rs_pl_yr}} <b> อายุ :</b> {{c.rs_plant_year}}<b> เนื้อที่ : </b>{{c.rs_rai}}-{{c.rs_ngan}}-{{c.rs_waa}} ไร่</h3>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <h3><b>สถานะการเปิดกรีด :</b> {{c.rs_typerubcnt}}</h3>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h3><b>รูปแบบการจำหน่ายผลผลิตยาง :</b>  {{c.rs_typerub | typerub}}</h3>
                </ion-col>
              </ion-row>
            <ion-row>
              <ion-col>
                <h3><b>แรงงาน :</b> {{c.rs_typehrvemp | typehrvemprs}}</h3>
              </ion-col>
            </ion-row>
            <ion-row *ngFor="let cc of item_data_land_rs[i]['rf_rs_emp']">
              <ion-col>
                <h3><b>คนกรีด : </b> {{cc.rs_seq}}. {{cc.rs_emp_idc}}
                  {{cc.rs_emp_name}}</h3>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <h3  [ngClass]="rf_flg.indexOf(c.rs_flg)> -1?'flgtrue':'flgerr'"><b>คุณสมบัติ :</b> {{c.rs_typeflg}}  </h3>
                </ion-col>
              </ion-row>
             <!--  <ion-row *ngIf="rf_flg.indexOf(c.rs_flg) === -1"> -->
                <ion-row  *ngIf="isFound(c.rs_flg)" >
                <ion-col >
                  <h3 class="flgerr"><b>สาเหตุ : </b> {{c.rs_flg_cause}}</h3>
                </ion-col>
              </ion-row>

          </ion-item>
        </ion-list>
      </ion-card>


    <ion-card *ngIf="item_data_land_af?.length ">
      <ion-card-header>
        แปลง ปลูกแทน.
      </ion-card-header>
      <ion-list *ngFor="let c of item_data_land_af ; let i = index ">

        <ion-item class="detail1">

          <ion-row>
            <ion-col>
              <h2>{{i+1}}. {{c.af_land_name}}</h2>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h3><b>ปีปลูก :</b> {{c.af_plant_yr}} <b>เนื้อที่ : </b> {{c.af_rai}}-{{c.af_ngan}}-{{c.af_waa}} ไร่</h3>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <h3><b>เลขอนุมัติ :</b> {{c.af_num_app}} </h3>
            </ion-col>
          </ion-row>

          <ion-row>
              <ion-col>
                <h3> <b>แบบปลูก :</b> {{c.af_type_plant | typeplant}}</h3>
              </ion-col>
            </ion-row>

        </ion-item>
      </ion-list>
    </ion-card>


    <ion-card *ngIf="item_data_land_fas?.length ">
      <ion-card-header>
        แปลง พอย.
      </ion-card-header>

      <ion-list *ngFor="let c of item_data_land_fas ; let i = index ">
        <ion-item class="detail1">

          <ion-row >
            <ion-col>
                <h2>{{i+1}}. <a class="poy" *ngFor="let cc of item_data_land_fas[i]['fas_land']">  {{cc.fas_land_name}}</a></h2>
            </ion-col>
            <!--             <ion-row *ngFor="let cc of item_data_land_fas[i]['fas_land']">
                <ion-col >
                  <h2> {{cc.fas_land_name}}</h2>
                </ion-col>
              </ion-row> -->
            <!--  <ion-col *ngFor="let cc of item_data_land_fas[i]['fas_land']">
              <h2> {{cc.fas_land_name}}</h2>
            </ion-col> -->
          </ion-row>

          <ion-row>
            <ion-col>
              <h3><b>เนื้อที่ : </b> {{c.fas_rai}}-{{c.fas_ngan}}-{{c.fas_waa}} ไร่</h3>
            </ion-col>
          </ion-row>

        </ion-item>
      </ion-list>
    </ion-card>

    <ion-grid *ngIf="item_data_project2?.length">
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>ชื่อ-นามสกุล:</ion-label>
            <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>วันที่ขึ้นทะเบียน:</ion-label>
            <ion-input type="text" [(ngModel)]="create_date" name="create_date"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="app_id">
          <ion-item>
            <ion-label floating>เลขขึ้นทะเบียนเกษตรกร:</ion-label>
            <ion-input type="text" [(ngModel)]="app_id" name="app_id"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>จำนวนแปลงที่ขึ้นทะเบียน:</ion-label>
            <ion-input type="text" [(ngModel)]="count_land" name="count_land"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label floating>เนื้อที่รวมที่ขึ้นทะเบียนทั้งหมด :</ion-label>
            <ion-input type="text" [(ngModel)]="sum_area" name="sum_area"></ion-input>
          </ion-item>
        </ion-col>
        <!-- <ion-col>
          <ion-item>
            <ion-label floating>รหัสประจำบ้าน:</ion-label>
            <ion-input type="text" [(ngModel)]="addr_code" name="addr_code"></ion-input>
          </ion-item>
        </ion-col> -->
        <ion-card *ngIf="detail_land?.length ">
          <ion-card-header>
            รายละเอียดแปลง
          </ion-card-header>

          <ion-list *ngFor="let c of detail_land ; let i = index ">
            <ion-item class="detail1">
              <ion-row >
                <ion-col> แปลงที่ {{c.seq}}</ion-col>
                <ion-col> {{c.area1}} ไร่ </ion-col>
                <ion-col> {{c.area2}} งาน </ion-col>
                <ion-col> {{c.area3}} ตารางวา </ion-col>
              </ion-row>
            </ion-item>

          </ion-list>
          </ion-card>

          <ion-card *ngIf="detail_land_tapper?.length ">
            <ion-card-header class="card-header1">
              รายละเอียดแปลงที่เป็นคนกรีด
            </ion-card-header>

            <ion-list *ngFor="let c of detail_land_tapper ; let i = index ">
              <ion-item class="detail1">
                <ion-row >
                  <ion-col> แปลงที่ {{c.seq}}</ion-col>
                  <ion-col> {{c.area1}} ไร่ </ion-col>
                  <ion-col> {{c.area2}} งาน </ion-col>
                  <ion-col> {{c.area3}} ตารางวา </ion-col>
                  <ion-col> ชื่อเจ้าของสวน {{c.farm_name}}  </ion-col>
                </ion-row>
              </ion-item>

            </ion-list>
            </ion-card>

      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating>สถานะเกษตรกร:</ion-label>
            <ion-textarea [(ngModel)]="reqtype" name="reqtype" readonly = "true"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label floating> หมายเหตุ:</ion-label>
            <ion-textarea type="text" [(ngModel)]="flg" name="flg" [(innerHTML)]="flg"  readonly = "true">
            </ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </form>
</ion-content>
